<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{data.author.mandiname}} Mandi Bhav|mandi khabar|Mandikhabar.com </title>

    <meta name="description"
        content="{{data.author.mandiname}} Mandi BHav:आज की मंडी का भाव, आलू Wheat ( गेहूं ),Maize ( मक्का),Paddy(धान ),Mustard(सरसों),Garlic (लहशुन),Peanut(मूंगफली)Cauliflower ( फूल गोभी)		">
    <meta name="keywords"
        content="{{data.author.mandiname}} Mandi ka  bhav Today,{{data.author.mandiname}} mandi,{{data.author.mandiname}} sabji mandi, {{data.author.mandiname}} Mandi Makka  bhav Today ,{{data.author.mandiname}} mandi  Aaj ka bhav,{{data.author.mandiname}} mandi ka Aalu ka bhav Today, {{data.author.mandiname}} mandi dhan bhav Today,{{data.author.mandiname}} mandi lahsun ka bhav Today, {{data.author.mandiname}} pyaj ka bhav,{{data.author.mandiname}} mandi sarso ka bhav Today,{{data.author.mandiname}} bajra ka rate,{{data.author.mandiname}} mugaphali  bhav Today,{{data.author.mandiname}} सरसों ka bhav Today,{{data.author.mandiname}} mandi channa  bhav Today ,{{data.author.mandiname}} Dalo ke bhav,{{data.author.mandiname}} mandi arahar ka bhav Today,{{data.author.mandiname}} mandi urad ka bhav ">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <link rel="canonical" href="https://mandikhabar.com/uttarpradesh/{{data.author.mandiname}}" />
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="../../css/table.css">
    <script type="application/ld+json">
     {
          "@context": "https://schema.org",
          "@type": "NewsMediaOrganization",
          "name": "Mandi khabar",
          "alternateName": "mandikhabar",
          "url": "https://mandikhabar.com/",
          "logo": "https://mandikhabar.com/android-chrome-512x512.PNG/android-chrome-512x512.PNG",
          "sameAs": "https://www.facebook.com/mandikhabar1"
        }
        </script>
</head>

<body>
    {{>header}}
    <div id="uttarpradesh_link">
        <div>
            <h1>{{data.author.mandiname}} Mandi bhav |Makka ka mandi bhav|{{data.author.mandiname}} Mandi Aalu ka bhav
                today|{{data.author.mandiname}} Mandi khabar

                <img src="../../images/uttarpradesh/{{data.author.mandiname}}_mandi_bhav.jpg"
                    alt="{{data.author.mandiname}} Mandi bhav " height="10px" width="10px">
            </h1>
        </div>
        {{>hco_data}}
        <div id="uttarpradesh_link">

            <div class="container">

                <table id="table" border="1" cellspacing="0">
                    <tr>
                        <td colspan="6">
                            <h1>{{data.author.mandiname}} Vegetable(Sabji) Mandi  Ka Bhav Today </h1>
                        </td>
                    </tr>

                    <tr id="tableheading">
                        <td class="crop">Crop(फसल)
                        </td>
                        <td>Priceकीमत </td>
                        <td>Unit(इकाई) </td>
                        <td>Updates Date,Time</td>
                    </tr>
                    <tr class="tomoto">
                        <td class="crop" id="tomoto">टमाटर(Tomato )</td>
                        <td>{{data.tomato.tomatoprice}}</td>
                        <td>{{data.tomato.tomatounit}}</td>
                        <td>{{data.tomato.date}} {{data.tomato.time}}</td>

                    </tr>


                    <tr class="onion">
                        <td class="crop" id="onion"> Onion (प्याज)</td>
                        <td>{{data.onion.onionprice}}</td>
                        <td>{{data.onion.onionunit}}</td>
                        <td>{{data.onion.date}} {{data.onion.time}}</td>

                    </tr>
                    <tr class="turnip">
                        <td class="crop" id="turnip">Turnip ( शलजम )</td>
                        <td>{{data.turnip.turnipprice}}</td>
                        <td>{{data.turnip.turnipunit}}</td>
                        <td>{{data.turnip.date}} {{data.turnip.time}}</td>


                    </tr>
                    <tr class=" turmerc">
                        <td class="crop" id="turmeric">Turmeric (हल्दी )</td>
                        <td>{{data.turmeric.turmericprice}}</td>
                        <td>{{data.turmerci.turmericunit}}</td>
                        <td>{{data.turmeric.date}} {{data.turmeric.time}}</td>


                    </tr>
                    <tr class="sweetpotato">
                        <td class="crop" id="sweetpotato">Sweet Potato(शकरकंद )</td>
                        <td>{{data.sweetpotato.sweetpotatoprice}}</td>
                        <td>{{data.sweetpotato.sweetpotatounit}}</td>
                        <td>{{data.sweetpotato.date}} {{data.sweetpotato.time}}</td>


                    </tr>
                    <tr class="potato">
                        <td class="crop" id="yellowpotato">Yellow potato पीला आलू</td>




                        <td>{{data.yellowpotato.yellowpotatoprice}}</td>
                        <td>{{data.yellowpotato.yellowpotatounit}}</td>
                        <td>{{data.yellowpotato.date}} {{data.yellowpotato.time}}</td>


                    </tr>
                    <tr class="potato">
                        <td class="crop" id="whitepotato">White potato सफेद आलू</td>
                        <td>{{data.whitepotato.whitepotatoprice}}</td>
                        <td>{{data.whitepotato.whitepotatounit}}</td>
                        <td>{{data.whitepotato.date}} {{data.whitepotato.time}}</td>


                    </tr>
                    <tr class="potato">
                        <td class="crop" id="redpotato">Red potato लाल आलू</td>
                        <td>{{data.redpotato.redpotatoprice}}</td>
                        <td>{{data.redpotato.redpotatounit}}</td>
                        <td>{{data.redpotato.date}} {{data.redpotato.time}}</td>


                    </tr>
                    <tr>
                        <td colspan="8" class="ad">ad</td>
                    </tr>
                    <tr class=" springonion">
                        <td class="crop" id="springonion"> Spring Onion(हरा प्याज, गंठा)</td>
                        <td>{{data.springonion.springonionprice}}</td>
                        <td>{{data.springonion.springonionunit}}</td>
                        <td>{{data.springonion.date}} {{date.springonion.time}}</td>


                    </tr>
                    <tr class="spinch">
                        <td class="crop" id="spinch">Spinach (पालक )</td>
                        <td>{{data.spianch.spianchprice}}</td>
                        <td>{{data.spianch.spianchunit}}</td>
                        <td>{{data.spianch.date}} {{data.spianch.time}}</td>


                    </tr>
                    <tr class="pumpkin">
                        <td class="crop" id="pumpkin"> Pumpkin (घिया, कद्दू )</td>
                        <td>{{data.pumpkin.pumpkinprice}}</td>
                        <td>{{data.pumpkin.pumpkinunit}}</td>
                        <td>{{data.pumpkin.date}} {{data.pumpkin.time}}</td>


                    </tr>
                    <tr class="garlic">
                        <td class="crop" id "garlic">Garlic (लहशुन)</td>
                        <td>{{data.garlic.garlicprice}}</td>
                        <td>{{data.garlic.garlicunit}}</td>
                        <td>{{data.garlic.date}} {{data.garlic.time}}</td>


                    </tr>
                    <tr class="fenugreekleaf">
                        <td class="crop" id="fenugeekleaf">Fenugreek Leaf (हरी मेथी)</td>
                        <td>{{data.fenugeekleaf.fenugeekleafprice}}</td>
                        <td>{{data.fenugeekleaf.fenugeekleafunit}}</td>

                        <td>{{data.fenugeekleaf.date}} {{data.fenugeekleaf.time}}</td>
                    </tr>
                    <tr class="ginger">
                        <td class="crop" id="ginger"> Ginger ( अदरक)</td>
                        <td>{{data.ginger.gingerprice}}</td>
                        <td>{{data.ginger.gingerunit}}</td>

                        <td>{{data.ginger.date}} {{data.ginger.time}}</td>
                    </tr>
                    <tr class="greenchilli">
                        <td class="crop" class="greenchilli"> Green Chilli ( हरी मिर्च)</td>
                        <td>{{data.greenchilli.greenchilliprice}}</td>
                        <td>{{data.greenchilli.greenchilliunit}}</td>
                        <td>{{data.greenchilli.date}} {{data.greenchilli.time}}</td>


                    </tr>
                    <tr class=" radish">
                        <td class="crop" id="radish">Radish (मूली)</td>
                        <td>{{data.radish.radishprice}}</td>
                        <td>{{data.radish.radishunit}}</td>
                        <td>{{data.radish.date}} {{data.radish.time}}</td>


                    </tr>
                    <tr class="jackfruit">
                        <td class="crop" id="jackfruit">Jackfruit ( कटहल)</td>
                        <td>{{data.jackfruit.jackfruitprice}}</td>
                        <td>{{data.jackfruit.jackfruitunit}}</td>
                        <td>{{data.jackfruit.date}} {{data.jackfruit.time}}</td>


                    </tr>
                    <tr class="ladyfinger">
                        <td class="crop" id="ladyfinger">Lady Finger (भिन्डी )</td>
                        <td>{{data.ladyfinger.ladyfingerprice}}</td>
                        <td>{{data.ladyfinger.ladyfingerunit}}</td>
                        <td>{{data.ladyfinger.date}} {{data.ladyfinger.time}}</td>


                    </tr>
                    <tr class="pointedgourd">
                        <td class="crop" id="pointedgourd">Pointed Gourd (परवल, पटल)</td>
                        <td>{{data.pointedgourd.pointedgourdprice}}</td>
                        <td>{{data.pointedgourd.pointedgourdunit}}</td>
                        <td>{{data.pointedgourd.date}} {{data.pointedgourd.time}}</td>


                    </tr>
                    <tr class="ridgedgourd">
                        <td class="crop">Ridged Gourd (तोरी, झींगी)</td>
                        <td>{{data.ridgedgourd.ridgedgourdprice}}</td>
                        <td>{{data.ridgedgourd.ridgedgourdunit}}</td>
                        <td>{{data.ridgedgourd.date}} {{data.ridgedgourd.time}}</td>


                    </tr>
                    <tr class="peas">
                        <td class="crop" id="peas">Peanut(मूंगफली)</td>
                        <td>{{data.peas.peasprice}}</td>
                        <td>{{data.peas.peasunit}}</td>
                        <td>{{data.peas.date}} {{data.peas.time}}</td>


                    </tr>
                    <tr class="cucumber">
                        <td class="crop" id="cucumber">Cucumber (खीरा)</td>
                        <td>{{data.cucumber.cucumberprice}}</td>
                        <td>{{data.cucumber.cucumberunit}}</td>
                        <td>{{data.cucumber.date}} {{data.cucumber.time}}</td>


                    </tr>
                    <tr class="coriander">
                        <td class="crop" id="coriander "> Coriander Leaf (हरा धनिया पत्ता)</td>
                        <td>{{data.corianderleaf.corianderleafprice}}</td>
                        <td>{{data.corianderleaf.corianderleafunit}}</td>
                        <td>{{data.corianderleaf.date}} {{data.corianderleaf.time}}</td>


                    </tr>

                    <tr class="cauliflower">
                        <td class="crop" id="cauliflower">Cauliflower ( फूल गोभी)</td>
                        <td>{{data.cauliflower.cauliflowerprice}}</td>
                        <td>{{data.cauliflower.cauliflowerunit}}</td>
                        <td>{{data.cauliflower.date}} {{data.cauliflower.time}}</td>


                    </tr>
                    <tr class="carrot">
                        <td class="crop" id="carrot"> Carrot ( गाजर )</td>

                        <td>{{data.carrot.carrotprice}}</td>
                        <td>{{data.carrot.carrotunit}}</td>
                        <td>{{data.carrot.date}} {{data.carrot.time}}</td>


                    </tr>
                    <tr class="capsion">
                        <td class="crop" id="capsion">Capsicum( शिमला मिर्च )</td>
                        <td>{{data.capsicum.capsicumprice}}</td>
                        <td>{{data.capsicum.capsicumunit}}</td>
                        <td>{{data.capsicum.date}} {{data.capsicum.time}}</td>


                    </tr>
                    <tr class="cabbage">
                        <td class="crop" id="cabbage"> Cabbage( पत्ता गोभी )</td>
                        <td>{{data.cabbage.cabbageprice}}</td>
                        <td>{{data.cabbage.cabbageunit}}</td>
                        <td>{{data.cabbage.date}} {{data.cabbage.time}}</td>


                    </tr>
                    <tr class="brinjal">
                        <td class="crop" id="brinjal">Brinjal ( बैगन)</td>
                        <td>{{data.brinjal.brinjalprice}}</td>
                        <td>{{data.brinjal.brinjalunit}}</td>
                        <td>{{data.brinjal.date}} {{data.brinjal.time}}</td>


                    </tr>
                    <tr class="bottlegourd">
                        <td class="crop" id="bottlegourd">Bottle Gourd ( लौकी,)</td>
                        <td>{{data.bottlegourd.bottlegourdprice}}</td>
                        <td>{{data.bottlegourd.bottlegourdunit}}</td>
                        <td>{{data.bottlegourd.date}} {{data.bottlegourd.time}}</td>


                    </tr>
                    <tr class="bittergourd">
                        <td class="crop" class="bittergourd"> Bitter Gourd ( करेला )</td>
                        <td>{{data.bittergourd.bittergourdprice}}</td>
                        <td>{{data.bittergourd.bittergourdunit}}</td>
                        <td>{{data.bittergourd.date}} {{data.bittergourd.time}}</td>


                    </tr>
                    <tr>
                        <td colspan="8" class="ad">ad</td>
                    </tr>
                    <tr>
                        <td>{{data.v1.v1crop}}</td>
                        <td>{{data.v1.v1price}}</td>
                        <td>{{data.v1.v1unit}}</td>
                        <td>{{data.v1.date}} {{data.v1.time}}</td>
                    </tr>
                    <tr>
                        <td>{{data.v2.v2crop}}</td>
                        <td>{{data.v2.v2price}}</td>
                        <td>{{data.v2.v2unit}}</td>
                        <td>{{data.v2.date}} {{data.v2.time}}</td>
                    </tr>
                    <tr>
                        <td>{{data.v3.v3crop}}</td>
                        <td>{{data.v3.v3price}}</td>
                        <td>{{data.v3.v3unit}}</td>
                        <td>{{data.v3.date}} {{data.v3.time}}</td>
                    </tr>
                    <tr>
                        <td>{{data.v4.v4crop}}</td>
                        <td>{{data.v4.v4price}}</td>
                        <td>{{data.v4.v4unit}}</td>
                        <td>{{data.v4.date}} {{data.v4.time}}</td>
                    </tr>

                    <tr>
                        <td colspan="8" class="ad">
                            <h2>{{data.author.mandiname}} Mandi Anaaj Ka Bhav Today</h2>
                        </td>
                    </tr>


                    <tr class="wheat">
                        <td class="crop" id="wheat">Wheat ( गेहूं )</td>
                        <td>{{data.wheat.wheatprice}}</td>
                        <td>{{data.wheat.wheatunit}}</td>
                        <td>{{data.wheat.date}} {{data.wheat.time}}</td>



                    </tr>
                    <tr class="maize">
                        <td class="crop" id="maize"> Maize ( मक्का)</td>
                        <td>{{data.maize.maizeprice}}</td>
                        <td>{{data.maize.maizeunit}}</td>
                        <td>{{data.maize.date}} {{data.maize.time}}</td>


                    </tr>
                    <tr class="millet">
                        <td class="crop" id="millet">Millet (बाजरा)</td>
                        <td>{{data.millet.milletprice}}</td>
                        <td>{{data.millet.milletunit}}</td>
                        <td>{{data.millet.date}} {{data.millet.time}}</td>


                    </tr>
                    <tr class="oat">
                        <td class="crop" id="oat">oat (जौ)</td>
                        <td>{{data.oat.oatprice}}</td>
                        <td>{{data.oat.oatunit}}</td>
                        <td>{{data.oat.date}} {{data.oat.time}}</td>


                    </tr>
                    <tr class="rice">
                        <td id="rice">Paddy(धान )</td>
                        <td>{{data.rice.riceprice}}</td>
                        <td>{{data.rice.riceunit}}</td>
                        <td>{{data.rice.date}} {{data.rice.time}}</td>


                    </tr>
                    <tr>
                        <td>{{data.d1.d1crop}}</td>
                        <td>{{data.d1.d1price}}</td>
                        <td>{{data.d1.d1unit}}</td>
                        <td>{{data.d1.date}} {{data.d1.time}}</td>
                    </tr>
                    <tr>
                        <td>{{data.d2.d3crop}}</td>
                        <td>{{data.d2.d2price}}</td>
                        <td>{{data.d2.d2unit}}</td>
                        <td>{{data.d2.date}} {{data.d2.time}}</td>
                    </tr>
                    <tr>
                        <td>{{data.d3.d3crop}}</td>
                        <td>{{data.d3.d3price}}</td>
                        <td>{{data.d3.d3unit}}</td>
                        <td>{{data.d3.date}} {{data.d3.time}}</td>
                    </tr>
                    <tr>
                        <td>{{data.d4.d4crop}}</td>
                        <td>{{data.d4.d4price}}</td>
                        <td>{{data.d4.d4unit}}</td>
                        <td>{{data.d4.date}} {{data.d4.time}}</td>
                    </tr>
                    <tr>
                        <td colspan="8">
                            <h2>{{data.author.mandiname}} Grain(दलहन) Mandi Bhav Today </h2>
                        </td>
                    </tr>


                    <tr class="greengram">
                        <td class="crop" id="greengram">Green Gram (मूंग )</td>
                        <td>{{data.greengram.greengramprice}}</td>
                        <td>{{data.greengram.greengramunit}}</td>
                        <td>{{data.greengram.date}} {{data.greengram.time}}</td>


                    </tr>
                    <tr class="blackgram">
                        <td id="blackgram">Black Gram ( उड़द )</td>
                        <td>{{data.blackgram.blackgramprice}}</td>
                        <td>{{data.blackgram.blackgramunit}}</td>
                        <td>{{data.blackgram.date}} {{data.blackgram.time}}</td>


                    </tr>
                    <tr class="chickpeas">
                        <td class="crop" id="chickpeas">Chickpeas ( चना)</td>
                        <td>{{data.chickpeas.chickpeasprice}}</td>
                        <td>{{data.chickpeas.chickpeasunit}}</td>
                        <td>{{data.chickpeas.data}} {{data.chickpeas.time}}</td>


                    </tr>
                    <tr class="kidneybeans">
                        <td class="crop" id="kidneybeans">Kidney Beans ( राजमा)</td>
                        <td>{{data.kidneybeans.kidneybeansprice}}</td>
                        <td>{{data.kidneybeans.kidneybeansunit}}</td>
                        <td>{{data.kidneybeans.date}} {{data.kidneybeans.time}}</td>


                    </tr>
                    <tr class="pigeonpea">
                        <td class="crop" id="pigeonpea">Pigeon Pea (अरहर)</td>
                        <td>{{data.pigeonpeas.pigeonpeasprice}}</td>

                        <td>{{data.pigeonpeas.pigeonpeasunit}}</td>
                        <td>{{data.pigeonpeas.date}} {{data.pigeonpeas.time}}</td>


                    </tr>
                    <tr class="greenpeas">
                        <td class="crop" id="greenpeas">Green Peas( हरी मटर)</td>
                        <td>{{data.greenpeas.greenpeasprice}}</td>
                        <td>{{data.greenpeas.greenpeasunit}}</td>
                        <td>{{data.greenpeas.date}} {{data.greenpeas.time}}</td>


                    </tr>
                    <tr class="whitepeas">
                        <td class="crop" id="whitepeas">White Peas (सफेद मटर )</td>
                        <td>{{data.whitepeas.whitepeasprice}}</td>
                        <td>{{data.whitepeas.whitepeasunit}}</td>
                        <td>{{data.whitepeas.date}} {{data.whitepeas.time}}</td>


                    </tr>
                    <tr class="soybean">
                        <td class="crop" id="soybean">Soybean ( सोयाबीन)</td>
                        <td>{{data.soyabean.soyabeanprice}}</td>
                        <td>{{data.soyabean.soyabeanunit}}</td>
                        <td>{{data.soyabean.data}} {{data.soyabean.time}}</td>


                    </tr>



                    <tr class="mustard">
                        <td class="crop" id="mustard">Mustard(सरसों)</td>
                        <td>{{data.mustard.mustardprice}}</td>
                        <td>{{data.mustard.mustardunit}}</td>
                        <td>{{data.mustard.date}} {{data.mustard.time}}</td>
                    </tr>
                    <tr>
                        <td>{{data.c1.c1crop}}</td>
                        <td>{{data.c1.c1price}}</td>
                        <td>{{data.c1.c1unit}}</td>
                        <td>{{data.c1.date}} {{data.c1.time}}</td>
                    </tr>
                    <tr>
                        <td>{{data.c2.c2crop}}</td>
                        <td>{{data.c2.c2price}}</td>
                        <td>{{data.c2.c2unit}}</td>
                        <td>{{data.c2.date}} {{data.c2.time}}</td>
                    </tr>
                    <tr>
                        <td>{{data.c3.c3crop}}</td>
                        <td>{{data.c3.c3price}}</td>
                        <td>{{data.c3.c3unit}}</td>
                        <td>{{data.c3.date}} {{data.c3.time}}</td>
                    </tr>
                    <tr>
                        <td>{{data.c4.c4crop}}</td>
                        <td>{{data.c4.c4price}}</td>
                        <td>{{data.c4.c4unit}}</td>
                        <td>{{data.c4.date}} {{data.c4.time}}</td>
                    </tr>



                    </tr>
                    <td colspan="8">
                        <h2>Data Upload by {{data.author.name}} </h2>
                        <a href="https://mandikhabar.com/uttarpradesh/{{data.author.mandiname}}">{{data.author.mandiname}}
                            Distict All Mandi Click Here</a>
                    </td>

                </table>


                <div id="adsence">a</div>
            </div>
            <div id="uttarpradesh_link">
                <p> किसान भाइयों हमारी वेबसाइट mandikhabar.com पर सभी राज्यों की मंडियों के भाव प्रतिदिन अपडेट किए जाते
                    हैं<br>
                    Farmer brothers, the prices of the mandis of all the states are updated daily on our website
                    mandikhabar.com</p>


                <h3>Questions Related to {{data.author.mandiname}} Mandi Bhav({{data.author.mandiname}} मंडी भाव से
                    संबंधित प्रश्न FAQS)</h3>
                <ul>
                    <li> {{data.author.mandiname}} में आलू का रेट क्या है</li>
                    <p>{{data.author.mandiname}} मंडी में आलू का भाव ऊपर नीचे होता रहता है ऊपर हमारी टीम में टीम द्वारा
                        अपलोड टेबल में देख सकते हो</p>
                    <li>{{data.author.mandiname}} में गेहूं का भाव क्या है</li>
                    <p>
                        {{data.author.mandiname}} मंडी में गेहूं का भाव ऊपर नीचे होता रहता है ऊपर हमारी टीम में टीम
                        द्वारा
                        अपलोड टेबल में देख सकते हो</p>
                    <li> {{data.author.mandiname}} में बाजरा का भाव क्या है</li>
                    <p>
                        {{data.author.mandiname}} मंडी में बाजरा का भाव ऊपर नीचे होता रहता है ऊपर हमारी टीम में टीम
                        द्वारा
                        अपलोड टेबल में देख सकते हो</p>
                    <li>{{data.author.mandiname}} में सरसों का भाव क्या है</li>
                    <p>{{data.author.mandiname}} मंडी में सरसों का भाव ऊपर नीचे होता रहता है ऊपर हमारी टीम में टीम
                        द्वारा
                        अपलोड टेबल में देख सकते हो</p>
                    <li>{{data.author.mandiname}} में आज का भाव क्या है</li>
                    <p>{{data.author.mandiname}} मंडी का भाव ऊपर नीचे होता रहता है ऊपर हमारी टीम में टीम द्वारा
                        अपलोड टेबल में देख सकते हो</p>



                </ul>
            </div>
            {{>footer}}
</body>
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [{
        "@type": "Question",
        "name": "{{data.author.mandiname}} में गेहूं का भाव क्या है",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": " {{data.author.mandiname}} मंडी में गेहूं का भाव ऊपर नीचे होता रहता है ऊपर हमारी टीम में टीम द्वारा अपलोड टेबल में देख सकते हो"
        }
      },{
        "@type": "Question",
        "name": "{{data.author.mandiname}} में बाजरा का भाव क्या है",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "({{data.author.mandiname}} मंडी में बाजरा का भाव ऊपर नीचे होता रहता है ऊपर हमारी टीम में टीम द्वारा अपलोड टेबल में देख सकते हो)"
        }
      },{
        "@type": "Question",
        "name": "{{data.author.mandiname}} में सरसों का भाव क्या है",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": ".{{data.author.mandiname}} मंडी में सरसों का भाव ऊपर नीचे होता रहता है ऊपर हमारी टीम में टीम द्वारा अपलोड टेबल में देख सकते हो)"
        }
      },{
        "@type": "Question",
        "name": "{{data.author.mandiname}} में आज का भाव क्या है",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "{{data.author.mandiname}} मंडी में आलू का भाव ऊपर नीचे होता रहता है ऊपर हमारी टीम में टीम द्वारा अपलोड टेबल में देख सकते हो)"
        }
      },{
        "@type": "Question",
        "name": "{{data.author.mandiname}} मंडी में आलू क्या रेट बिका",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "{{data.author.mandiname}} मंडी में आलू का भाव ऊपर नीचे होता रहता है ऊपर हमारी टीम में टीम द्वारा अपलोड टेबल में देख सकते हो)"
        }
      }]
    }
    </script>

</html>